<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background: #1f2337 !important;">
    <div class="container-fluid" style="height: 50px;">
        <img src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width: 100px;" />
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">NFT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">HISTORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
