<div class="div-body">
    <div class="main-background">
        <div class="main-left">
            <div>
                <input type="text" class="main-left-search" placeholder="Search template...">
                <button type="button" class="main-left-search-btn"><i class="fa fa-search"></i></button>
            </div>
            <div class="main-left-list">
                <div id="list-left">

                    <div><a href="#" onclick="">Annimations</a></div>
                    <div><a href="#" onclick="">Characters</a></div>
                </div>
            </div>
        </div>
        <div class="main-right">
            <div class="search-left">
                <input type="text" class="main-left-search" placeholder="Search template...">
                <button type="button" class="main-left-search-btn"><i class="fa fa-search"></i></button>
            </div>
            <button type="button" class="main-right-btnNew"><i class="fa fa-plus icon-plus"></i>&ensp;Creat new project</button>
            <div class="list-right">
                <hr>
                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/110540901/animated.gif?fbclid=IwAR32usjDfIrOlMVQNLQUG8XKKfKPXRzys1iSSy0I7JMmYU1b9VjRVSLgnus" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Crouch To Stand</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/101110901/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Hip Hop Dancing</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/101960907/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Silly Dancing</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/101920902/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Rumba Dancing</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/102970901/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Joyful Jump</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/104110901/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Jumb</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motion_packs/pro_melee_axe/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Zombie Idle</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motion_packs/fps_basic/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Pro melee Axe</div>
                </div>

                <div class="card">

                    <div class="card-border-img"><img src="https://d99n9xvb9513w.cloudfront.net/thumbnails/motions/114700901/animated.gif" alt="" class="card-img">
                        <a href="#" class="Use">Use</a>
                        <a href="#" class="Preview">Preview</a>
                    </div>
                    <div class="card-title">Basic Shooter Pack</div>
                </div>





            </div>
        </div>

    </div>
</div>