<div class="container-xxl">
    <div class="row">
        <div class="col-12">
            <div class="card" style="border-radius: 20px;">
                <div class="card-body">
                    <h3 class="text-center fw-bold">Balance :</h3>
                    <h2 class="text-center fw-bold">$<span> 0.00</span></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:50px;">
        <div class="col-12">
            <table class="table" style="background-color: white;border-radius: 20px;">
                <thead>
                    <tr>
                        <th scope="col">Marche</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Change 24 h</th>
                        <th scope="col">Balance</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <img alt="" class="img-circle" src="assets/logo_0bb4664481cc47cc81af038f7c6f72ae_1x.png" style="width:50px;">
                            <span>MNM</span>
                        </td>
                        <td>
                            <p>$ 0.0003</p>
                        </td>
                        <td>
                            <p style="color: green;">+ 1.12% </p>
                        </td>
                        <td>
                            <p>$ 100 </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>